<div class="card-columns">
  <% @articles.each do |article| %>

      <div class="card ">
        <div class="card-block">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">
              <%= link_to icon('close', class: "text-danger") , article.source ,
                method: :delete,
                data: { confirm: "Are you sure to delete this source ?" } %>
            </span>
          </button>
          <a href="<%= article.url %>" class="card-title">
            <h4><%= article.title %></h4>
          </a>
          <p class="card-text"><%= article.excerpt %></p>
          <div class="d-flex justify-content-between">
              <small class="text-muted"><%= icon("clock-o") +  get_source_timer(article) %></small>
              <small class="text-muted"><%= icon("globe") + " " + article.source.name %></small>
          </div>
        </div>
      </div>

  <% end %>
</div>

<% unless @articles.current_page == @articles.total_pages %>
  <p id="view-more">
    <%= link_to('View More', url_for(page: @articles.current_page + 1), class: "btn btn-primary btn-block") %>
  </p>
<% end %>
