<div class="container mt-2 text-xs-center">
  <div class="container mt-2 card ">
    <div class="card-block">
      <h4 class="card-title">Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control'  %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-outline-primary btn-block mt-2' %>
        </div>
      <% end %>

    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>
