<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse sticky-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Sheeby RSS</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item mr-2 mb-1">
          <%= link_to icon("")+"Add "+icon("rss")  , new_source_path, :class => 'btn-outline-info btn'  %>
        </li>
        <li class="nav-item">
          <%= link_to icon("refresh")+" Update"  , "/update", :class => 'btn-outline-success btn'  %>
        </li>
      <% end %>
    </ul>

    <ul class="navbar-nav my-2 my-lg-0">
      <% if user_signed_in? %>
        <li class="nav-item  mr-2 mb-1">
          <%= link_to icon("user-circle-o") + " " + current_user.email , edit_user_registration_path, :class => 'btn-outline-secondary btn' %>
        </li>
        <li class="nav-item">
          <%= link_to icon("sign-out") + "Logout", destroy_user_session_path, method: :delete, :class => 'btn-outline-danger btn'  %>
        </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
      </li>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
